
 /* universal selector (selects all the elements ) */
 *{
    /* color: red; */
}

/* name selector */
h1{

}

/* id Selector */
#mainDesc{
   /* color: blue; */
}

/* class selector */
.primaryButton {
   height: 50px;
   border-radius: 10px;
   padding: 10px;
   background-color: rgba(238, 33, 33, 0.99);
   color: white;
   opacity: 0.9;
}

/* grouping selector */


/* h1 , p , button {
   color: red !important ;
}
*/


/* Descendant Combinator */

/* div p{
   color:red
} */


/* Child Combinator (>) */

    /* div > p {
        color: red;
   }
*/


/* Next Sibling Combinator (+) */

/* p + button{
background-color: red;
} */

/* Subsequent-sibling Combinator (~) */
/* p ~ button {

background-color: red;

} */



.imageBox{
   height: 500px;
   /* background-image: url("");
   background-repeat: no-repeat;
   background-position:left; */
   background: #ffffff url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=400") no-repeat left;
   /* border-style:  dashed;
   border-color: red;
   border-width: 20px; */

   /* width style color */
   border:  12px dashed red;
   border-radius: 20px;

}
